<h1>Details for <%= @wine.title %> wine in your collection:</h1>
<h3> Country of Origin: <%= @wine.country %></h3>
<h3> Rating: <%= @wine.rating %></h3>
<h3> Personal Opinion: <%= @wine.opinion %></h3>
<h3> Price: $<%= @wine.price %></h3>
<%= button_to "Update #{@wine.title}", edit_wine_path(@wine), method: :get %>

<%= button_to "Delete #{@wine.title}", wine_path(@wine), method: :delete %>